<h1>Dominican Republic</h1>
<img src="../assets/mapa-politico-republica-dominicana.jpg">
<br>
<br>
<a name="bottom" id="bottom"></a>
<app-buttondown></app-buttondown>
  <ol type="1">
    <li><a href="https://es.wikipedia.org/wiki/Azua">Azua</a></li>
    <ul>
      <li>Senator: Lía Ynocencia Díaz Santana</li>
      <li>Population: 222, 610</li>
      <img src="../assets/azua escudo.png">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Bahoruco">Bahoruco</a></li>
    <ul>
      <li>Senator: Melania Salvador Jiménez</li>
      <li>Population: 101, 306</li>
      <img src="../assets/bahoruco escudo.png">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Barahona_(República_Dominicana)">Barahona</a></li>
    <ul>
      <li>Senator: José Manuel Castillo Saviñon</li>
      <li>Population: 189, 100</li>
      <img src="../assets/barahona escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Dajabón">Dajabón</a></li>
    <ul>
      <li>Senator: David Rafael Sosa Cerda</li>
      <li>Population: 66, 675</li>
      <img src="../assets/dajabón escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Duarte">Duarte</a></li>
    <ul>
      <li>Senator: Franklin Martín Romero Morillo</li>
      <li>Population: 299, 583 </li>
      <img src="../assets/duarte escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El_Seibo">El Seibo</a></li>
    <ul>
      <li>Senator: Santiago José Zorilla</li>
      <li>Population: 94, 049</li>
      <img src="../assets/el seibo escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El%C3%ADas_Piña">Elías Piña</a></li>
    <ul>
      <li>Senator: Arys Yvan Lorenzo Suero</li>
      <li>Population: 63, 303</li>
      <img src="../assets/elías piña escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Espaillat">Espaillat</a></li>
    <ul>
      <li>Senator: Carlos Gómez Ureña</li>
      <li>Population: 240, 428</li>
      <img src="../assets/espaillat escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hato_Mayor">Hato mayor</a></li>
    <ul>
      <li>Senator: Cristóbal Venerado Castillo</li>
      <li>Population: 85, 747</li>
      <img src="../assets/hato mayor escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Hermanas_Mirabal">Hermanas Mirabal</a></li>
    <ul>
      <li>Senator: Bautista Antonio Rojas Gómez</li>
      <li>Population: 92, 045</li>
      <img src="../assets/hermanas mirabal escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Independencia">Independencia</a></li>
    <ul>
      <li>Senator: Valentin Medrano Pérez</li>
      <li>Population: 58, 951</li>
      <img src="../assets/independencia escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Altagracia">La Altagracia</a></li>
    <ul>
      <li>Senator: Virgilio Cedano Cedano</li>
      <li>Population: 360, 874</li>
      <img src="../assets/la altagracia escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Romana">La Romana</a></li>
    <ul>
      <li>Senator: Iván José Silva Fernández </li>
      <li>Population: 274, 894</li>
      <img src="../assets/la romana escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Vega">La vega</a></li>
    <ul>
      <li>Senator: Ramón Rogelio Genao Durán</li>
      <li>Population: 412, 469</li>
      <img src="../assets/la vega escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Mar%C3%ADa_Trinidad_Sánchez">María Trinidad Sánchez</a></li>
    <ul>
      <li>Senator: Alexis Victoria Yeb</li>
      <li>Population: 140, 954</li>
      <img src="../assets/maría trinidad sánchez escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monseñor_Nouel">Monseñor Nouel</a></li>
    <ul>
      <li>Senator: Héctor Elpidio Acosta</li>
      <li>Population: 174, 959</li>
      <img src="../assets/monseñor nouel escudo.png" width="200" height="200">
    </ul>
  
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monte_Cristi">Monte Cristi</a></li>
    <ul>
      <li>Senator: Ramón Antonio Pimentel GómezZ</li>
      <li>Population: 117, 736</li>
      <img src="../assets/monte cristi escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Monte_Plata">Monte Plata</a></li>
    <ul>
      <li>Senator: Lenin Valdez López</li>
      <li>Population: 191, 447</li>
      <img src="../assets/monte plata escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Pedernales">Pedernales</a></li>
    <ul>
      <li>Senator: Dionis Alfonso Sánchez Carrasco</li>
      <li>Population: 35, 280</li>
      <img src="../assets/pedernales escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Peravia">Peravia</a></li>
    <ul>
      <li>Senator: Milciades Marino Franjul Pimentel</li>
      <li>Population: 198, 499</li>
      <img src="../assets/peravia escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Puerto_Plata">Puerto Plata</a></li>
    <ul>
      <li>Senator: Ginette Altagracia Bournigal</li>
      <li>Population: 333, 940</li>
      <img src="../assets/puerto plata escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Samaná">Samaná</a></li>
    <ul>
      <li>Senator: Pedro Manuel Catraín Bonilla</li>
      <li>Population: 113, 036</li>
      <img src="../assets/samaná escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Cristóbal">San Cristóbal</a></li>
    <ul>
      <li>Senator: Franklin Alberto Rodríguez Garabito</li>
      <li>Population: 643, 595</li>
      <img src="../assets/san cristobal escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/San_José_de_Ocoa">San José de Ocoa</a></li>
    <ul>
      <li>Senator: José Antonio Castillo Casado</li>
      <li>Population: 53, 833</li>
      <img src="../assets/san josé de ocoa escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Juan_(República_Dominicana)">San Juan</a></li>
    <ul>
      <li>Senator: Félix Ramón Bautista Rosario</li>
      <li>Population: 220, 264</li>
      <img src="../assets/san juan escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Pedro_de_Macor%C3%ADs">San Pedro de Macorís</a></li>
    <ul>
      <li>Senator: Franklin Ysais Peña Villanova</li>
      <li>Population: 306, 002</li>
      <img src="../assets/san pedro macorís escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Sánchez_Ram%C3%ADrez">Sánchez Ramírez</a></li>
    <ul>
      <li>Senator: Ricardo de los Santos</li>
      <li>Population: 151, 888</li>
      <img src="../assets/sánchez ramírez escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_(República_Dominicana)">Santiago</a></li>
    <ul>
      <li>Senator: Rafael Eduardo Estrella Valera 1, </li>
      <li>Population: 1, 052, 088</li>
      <img src="../assets/santiago escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_Rodr%C3%ADguez">Santiago Rodríguez</a></li>
    <ul>
      <li>Senator: Casimiro Antonio Marte Familia</li>
      <li>Population: 57, 209</li>
      <img src="../assets/santiago rodríguez escudo.png" width="200" height="200">
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santo_Domingo">Santo Domingo</a></li>
    <ul>
      <li>Senator: Antonio Manuel Taveras Gúzman</li>
      <li>Population: 2, 995, 399</li>
      <img src="../assets/santo domingo escudo.png" width="200" height="200">
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Valverde">Valverde</a></li>
    <ul>
      <li>Senator: Martin Edilverto Nolasco</li>
      <li>Population:</li>
      <img src="../assets/valverde escudo.png" width="200" height="200">
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Distrito_Nacional">Distrito Nacional</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
      <img src="../assets/distrito nacional escudo.png" width="200" height="200">
    </ul>
  </ol>
  <a name="up" id="up"></a>
  <app-buttonup></app-buttonup>