<h1>Dominican Republic</h1>
  <ol type="1">
    <li><a href="https://es.wikipedia.org/wiki/Azua">Azua</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Bahoruco">Bahoruco</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Barahona_(República_Dominicana)">Barahona</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Dajabón">Dajabón</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Duarte">Duarte</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El_Seibo">El Seibo</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El%C3%ADas_Piña">Elías Piña</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Espaillat">Espaillat</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hato_Mayor">Hato mayor</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Hermanas_Mirabal">Hermanas Mirabal</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Independencia">Independencia</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Altagracia">La Altagracia</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Romana">La Romana</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Vega">La vega</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Mar%C3%ADa_Trinidad_Sánchez">María Trinidad Sánchez</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monseñor_Nouel">Monseñor Nouel</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>
  
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monte_Cristi">Monte Cristi</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Monte_Plata">Monte Plata</a></li>
    <ul>
      <li>Senato:r</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Pedernales">Pedernales</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Peravia">Peravia</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Puerto_Plata">Puerto Plata</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Samaná">Samaná</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Cristóbal">San Cristobal</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/San_José_de_Ocoa">San José de Ocoa</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Juan_(República_Dominicana)">San Juan</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Pedro_de_Macor%C3%ADs">San Pedro de Macorís</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Sánchez_Ram%C3%ADrez">Sánchez Ramírez</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_(República_Dominicana)">Santiago</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>

    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_Rodr%C3%ADguez">Santiago Rodríguez</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santo_Domingo">Santo Domingo</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Valverde">Valverde</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Distrito_Nacional">Distrito Nacional</a></li>
    <ul>
      <li>Senator:</li>
      <li>Population:</li>
    </ul>
  </ol>